$primary: #2b6777;
$secondary: #c8d8e4;
$dark: #030e12;
$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #52ab98;
$light: #f2f2f2;

$white: #fff;
$border: #dee2e6;
$blue: #00a8e8;
$transparent: transparent;
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

