
@import "colors.scss";
@import "animation.scss";

.book-container{
  margin: auto;
  border-radius: 4px;
  text-align: center;
  margin-top: 5%;
  color: $primary;
  .title{
    color: $primary;
    font-weight: 900;
  }
  .primary-btn{
    background: $info;
    color: $white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
  .secondary-btn{
    background: $secondary;
    color: $white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
  .book-card {
    max-width: 400px;
    margin: auto;
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    box-shadow: 0 .5rem 1rem #00000026!important;
    overflow: hidden;
    background: $light;
    color: $primary;
   p{ font-size: 20px;}

   .mat-divider {
    border-top-color: $primary;
  }
  }


}
:host ::ng-deep {
  .p-color {
      color: $primary !important;
  }
  mat-form-field {
    width: 100%;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0;
  }
  .mat-form-field-underline::before, .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: $primary;
  }
  .mat-form-field-ripple, .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: shade($primary, 10%);
  }
  .mat-hint, .mat-form-field-appearance-legacy .mat-form-field-label {
    color: $primary;
  }
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  button, a {
    flex: 1 1 auto;
  }
}
